*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: black;
}

.page {
    position: relative;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.panorama {
    position: absolute;
    width: inherit;
    height: inherit;
    background-image: url('../img/drag__background_2.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
