*,
  ::before,
  ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  position: relative;
  width: 1200px;
  height: 2000px;
  overflow: hidden;
  background-color: #234b69;
  font-family: sans-serif;
  color: gray;
  user-select: none;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 1080px;
  height: 1920px;
  overflow: hidden;
  background-color: blue;
}

.panorama {
  position: absolute;
  width: 5331px;
  height: 1920px;
  background-color: black;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* transform: scale(2); */
}
